@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Codystar&family=Handlee&family=Hedvig+Letters+Serif:opsz@12..24&family=Marko+One&family=Montserrat:wght@400;600&family=Open+Sans:wght@800&family=Oswald:wght@200;500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Codystar&family=Handlee&family=Hedvig+Letters+Serif:opsz@12..24&family=Marko+One&family=Montserrat:wght@400;600&family=Open+Sans:wght@800&family=Oswald:wght@200;500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header div {
  background-color: #231d37;
  width: 100%;
  height: 80px;
}

.headerContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headerContent img {
  padding-top: 10px;
  width: 100px;
}
.headerContent h1 {
  color: white;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  padding-top: 10px;
}

.main {
  background-image: url(/pngs/bg/homeBg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainContent {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

.mainAlign {
  display: flex;
}

.king {
  width: auto;
  height: 600px;
  filter: drop-shadow(10px 15px 10px rgb(0, 0, 0));
}

.ranking {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  color: white;
  letter-spacing: 5px;
  font-size: 27px;
  font-family: rubik;
  display: flex;
  flex-direction: row;
  gap: 0px 5px;
}
.card .h1 {
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}

.crown {
  width: auto;
  height: 50px;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

#atual-champion {
  width: 470px;
}
#atual-champion img {
  width: auto;
  height: 55px;
  padding: 0;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}
#atual-champion h1 {
  font-family: rubik;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
  font-size: 45px;
  letter-spacing: 2px;
  background: linear-gradient(45deg, #ff0321, #8b7bff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: color 5s ease-in-out infinite;
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.champion {
  width: 480px;
  display: flex;
  flex-direction: column;
}
.champion img {
  width: 340px;
  padding-left: 75px;
  padding-top: 20px;
  padding-bottom: 50px;
  filter: drop-shadow(10px 15px 10px rgb(0, 0, 0));
}

.footer {
  align-content: center;
  background-color: #1b1b1b;
  width: 100%;
  height: 400px;
}

.footerContent {
  display: grid;
  justify-content: space-around;
  grid-template-areas: "card1 card2 card3 card4 card5" "card6 card6 card6 card6 card6";
}

.footerSeparator {
  height: 350px;
  padding: 60px;
}

.footerCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerCard h3 {
  font-family: Montserrat;
  color: #e2e2e2;
  font-size: 20px;
}
.footerCard p {
  font-family: Marko One;
  color: #858585;
  font-size: 15px;
}
.footerCard a {
  font-family: Marko One;
  color: #858585;
  text-decoration: none;
}
.footerCard a:hover {
  text-decoration: underline;
  text-decoration-color: #858585;
  text-underline-offset: 1px;
}

.card1 {
  grid-area: card1;
}
.card1 img {
  width: 150px;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
  text-align: center;
}

.card5 {
  grid-area: card5;
  text-align: center;
}
.card5 img {
  width: 100px;
}

.card6 {
  grid-area: card6;
  padding: 0;
  padding-left: 10px;
}
.card6 p {
  padding: 0;
  font-family: Open Sans;
  font-size: 15px;
  color: #858585;
}

.about {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: darkgray;
}

@media (max-width: 110em) {
  .header {
    height: 73px;
  }
  .headerContent img {
    width: 92px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 32px;
    padding-top: 0px;
  }
  .mainContent .king {
    height: 550px;
  }
  .mainContent .card {
    font-size: 25px;
  }
  .mainContent .crown {
    height: 45px;
  }
  .mainContent #atual-champion h1 {
    font-size: 40px;
  }
  .mainContent #atual-champion img {
    height: 50px;
  }
  .mainContent .champion img {
    width: 320px;
  }
  .footer {
    height: 350px;
  }
  .footer .footerCard h3 {
    font-size: 16px;
  }
  .footer .footerCard p {
    font-size: 14px;
  }
  .footer .footerCard a {
    font-size: 14px;
  }
  .footer .footerSeparator {
    height: 300px;
  }
  .footer .card1 img {
    width: 140px;
  }
  .footer .card5 img {
    width: 90px;
  }
  .footer .card6 {
    padding: 0;
    padding-left: 10px;
  }
  .footer .card6 p {
    font-size: 12px;
  }
}
@media (max-width: 100em) {
  .header {
    height: 65px;
  }
  .headerContent img {
    width: 80px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 28px;
    padding-top: 0px;
    line-height: 0.5;
  }
  .mainContent .king {
    height: 500px;
  }
  .mainContent .card {
    font-size: 20px;
  }
  .mainContent .crown {
    height: 40px;
  }
  .mainContent #atual-champion h1 {
    font-size: 35px;
  }
  .mainContent #atual-champion img {
    height: 50px;
  }
  .mainContent .champion img {
    width: 300px;
  }
  .footer {
    height: 320px;
  }
  .footer .footerCard h3 {
    font-size: 15px;
  }
  .footer .footerCard p {
    font-size: 13px;
  }
  .footer .footerCard a {
    font-size: 13px;
  }
  .footer .footerSeparator {
    height: 280px;
  }
  .footer .card1 img {
    width: 100px;
  }
  .footer .card5 img {
    width: 70px;
  }
  .footer .card6 {
    padding: 0;
    padding-left: 10px;
  }
  .footer .card6 p {
    font-size: 12px;
  }
}
@media (max-width: 90em) {
  .header {
    height: 60px;
  }
  .headerContent img {
    width: 75px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 25px;
    padding-top: 0px;
  }
  .mainContent .king {
    height: 480px;
  }
  .mainContent .card {
    font-size: 20px;
  }
  .mainContent .crown {
    height: 40px;
  }
  .mainContent #atual-champion h1 {
    font-size: 35px;
  }
  .mainContent #atual-champion img {
    height: 50px;
  }
  .mainContent .champion img {
    width: 250px;
  }
  .footer .footerCard h3 {
    font-size: 15px;
  }
  .footer .footerCard p {
    font-size: 13px;
  }
  .footer .footerCard a {
    font-size: 13px;
  }
  .footer .card1 img {
    width: 100px;
  }
  .footer .card5 img {
    width: 70px;
  }
  .footer .card6 {
    padding: 0;
    padding-left: 10px;
  }
  .footer .card6 p {
    font-size: 12px;
  }
}
@media (max-width: 95em) {
  .header {
    height: 60px;
  }
  .headerContent img {
    width: 75px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 25px;
    padding-top: 0px;
  }
  .mainContent .king {
    height: 450px;
  }
  .mainContent .card {
    font-size: 18px;
  }
  .mainContent .crown {
    height: 37px;
  }
  .mainContent #atual-champion h1 {
    font-size: 32px;
  }
  .mainContent #atual-champion img {
    height: 45px;
  }
  .mainContent .champion img {
    width: 250px;
  }
  .footer .footerCard h3 {
    font-size: 15px;
  }
  .footer .footerCard p {
    font-size: 13px;
  }
  .footer .footerCard a {
    font-size: 13px;
  }
  .footer .card1 img {
    width: 100px;
  }
  .footer .card5 img {
    width: 70px;
  }
  .footer .card6 {
    padding: 0;
    padding-left: 10px;
  }
  .footer .card6 p {
    font-size: 12px;
  }
}
@media (max-width: 80em) {
  .header {
    height: 60px;
  }
  .headerContent img {
    width: 70px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 30px;
    padding-top: 0px;
  }
  .mainContent .king {
    height: 340px;
  }
  .mainContent .card {
    font-size: 15px;
  }
  .mainContent .crown {
    height: 30px;
  }
  .mainContent #atual-champion h1 {
    font-size: 30px;
  }
  .mainContent #atual-champion img {
    height: 40px;
  }
  .mainContent .champion img {
    width: 250px;
  }
  .footer {
    height: 350px;
  }
  .footer .footerCard h3 {
    font-size: 15px;
  }
  .footer .footerCard p {
    font-size: 13px;
  }
  .footer .footerCard a {
    font-size: 13px;
  }
  .footer .footerSeparator {
    height: 300px;
  }
  .footer .card1 img {
    width: 100px;
  }
  .footer .card5 img {
    width: 70px;
  }
  .footer .card6 {
    padding: 0;
    padding-left: 10px;
  }
  .footer .card6 p {
    font-size: 12px;
  }
  .footer .footerSeparator {
    height: 330px;
  }
}
@media (max-width: 70em) {
  .header {
    height: 50px;
  }
  .headerContent img {
    width: 50px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 25px;
    padding-top: 0px;
  }
  .mainContent .king {
    height: 320px;
  }
  .mainContent .card {
    font-size: 15px;
  }
  .mainContent .crown {
    height: 30px;
  }
  .mainContent #atual-champion h1 {
    font-size: 30px;
  }
  .mainContent #atual-champion img {
    height: 40px;
  }
  .mainContent .champion img {
    width: 250px;
  }
  .footer {
    height: 700px;
  }
  .footer .footerCard h3 {
    font-size: 15px;
  }
  .footer .footerCard p {
    font-size: 13px;
  }
  .footer .footerCard a {
    font-size: 13px;
  }
  .footer .footerSeparator {
    height: 650px;
    padding: 0px;
  }
  .footer .footerContent {
    justify-content: space-evenly;
    gap: 50px 80px;
    grid-template-areas: "card6 card6" "card1 card2" "card4 card3" "card5 card5";
  }
  .footer .card1 img {
    grid-area: card1;
    width: 100px;
  }
  .footer .card5 img {
    grid-area: card5;
    width: 70px;
  }
  .footer .card6 {
    position: absolute;
    left: 0;
    bottom: 1;
  }
  .footer .card6 p {
    font-size: 10px;
  }
}
@media (max-width: 60em) {
  .header {
    height: 40px;
  }
  .headerContent img {
    width: 40px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 20px;
    padding-top: 0px;
  }
  .mainContent .king {
    height: 270px;
  }
  .mainContent .card {
    letter-spacing: 1px;
    font-size: 13px;
  }
  .mainContent .crown {
    height: 25px;
  }
  .mainContent #atual-champion h1 {
    font-size: 25px;
  }
  .mainContent #atual-champion img {
    height: 30px;
  }
  .mainContent .champion img {
    width: 200px;
  }
  .footer {
    height: 500px;
  }
  .footer .footerCard h3 {
    font-size: 10px;
  }
  .footer .footerCard p {
    font-size: 8px;
  }
  .footer .footerCard a {
    font-size: 8px;
  }
  .footer .footerSeparator {
    height: 450px;
    padding: 0px;
  }
  .footer .footerContent {
    justify-content: space-evenly;
    gap: 35px;
    grid-template-areas: "card1 card2" "card4 card3" "card5 card5";
  }
  .footer .card1 img {
    grid-area: card1;
    width: 70px;
  }
  .footer .card5 img {
    grid-area: card5;
    width: 50px;
  }
  .footer .card6 {
    position: absolute;
    left: 1;
    bottom: 1;
  }
  .footer .card6 p {
    font-size: 7px;
  }
  .footer .about {
    text-underline-offset: 1px;
  }
}
@media (max-width: 50em) {
  .header {
    height: 35px;
  }
  .headerContent img {
    width: 30px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 17px;
    padding-top: 0px;
  }
  .mainContent .king {
    height: 240px;
  }
  .mainContent .card {
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 13px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .mainContent .crown {
    height: auto;
    width: 25px;
  }
  .mainContent #atual-champion {
    flex-direction: row;
  }
  .mainContent #atual-champion h1 {
    font-size: 23px;
  }
  .mainContent #atual-champion img {
    height: 28px;
  }
  .mainContent .champion img {
    width: 180px;
  }
  .footer {
    height: 500px;
  }
  .footer .footerCard h3 {
    font-size: 9px;
  }
  .footer .footerCard p {
    font-size: 7px;
  }
  .footer .footerCard a {
    font-size: 7px;
  }
  .footer .footerSeparator {
    height: 450px;
    padding: 0px;
  }
  .footer .footerContent {
    justify-content: space-evenly;
    gap: 35px;
    grid-template-areas: "card1 card2" "card4 card3" "card5 card5";
  }
  .footer .card1 img {
    grid-area: card1;
    width: 60px;
  }
  .footer .card5 img {
    grid-area: card5;
    width: 40px;
  }
  .footer .card6 {
    position: absolute;
    left: 1;
    bottom: 1;
  }
  .footer .card6 p {
    font-size: 6px;
  }
}
@media (max-width: 40em) {
  .header {
    height: 20px;
  }
  .headerContent {
    height: 20px;
  }
  .headerContent img {
    width: 30px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 12px;
  }
  .main {
    display: grid;
    justify-content: center;
  }
  .mainContent {
    padding-top: 20px;
    justify-content: center;
  }
  .mainContent .king {
    height: 170px;
  }
  .mainContent .mainAlign {
    width: 400px;
    display: flex;
  }
  .mainContent .card {
    width: 250px;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 8px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .mainContent .crown {
    height: auto;
    width: 20px;
  }
  .mainContent #atual-champion {
    width: 250px;
    flex-direction: row;
  }
  .mainContent #atual-champion h1 {
    font-size: 15px;
  }
  .mainContent #atual-champion img {
    height: 20px;
  }
  .mainContent .champion img {
    width: 125px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .footer {
    height: 450px;
  }
  .footer .footerCard h3 {
    font-size: 7px;
  }
  .footer .footerCard p {
    font-size: 5px;
  }
  .footer .footerCard a {
    font-size: 5px;
  }
  .footer .footerSeparator {
    height: 400px;
    padding: 0px;
  }
  .footer .footerContent {
    justify-content: space-evenly;
    gap: 35px;
    grid-template-areas: "card1 card2" "card4 card3" "card5 card5";
  }
  .footer .card1 img {
    grid-area: card1;
    width: 50px;
  }
  .footer .card5 img {
    grid-area: card5;
    width: 35px;
  }
  .footer .card6 {
    position: absolute;
    left: 1;
    bottom: 1;
  }
  .footer .card6 p {
    font-size: 5px;
  }
}
@media (max-width: 30em) {
  .header {
    height: 20px;
  }
  .headerContent {
    height: 20px;
  }
  .headerContent img {
    width: 30px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 12px;
  }
  .main {
    display: grid;
    justify-content: center;
  }
  .mainContent {
    padding-top: 15px;
    justify-content: center;
  }
  .mainContent .king {
    height: 200px;
    padding-top: 50px;
    padding-left: 10px;
  }
  .mainContent .mainAlign {
    width: 400px;
    display: flex;
  }
  .mainContent .card {
    padding-left: 35px;
    gap: 0px;
    width: 200px;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 5px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .mainContent #divisor1 {
    padding-top: 20px;
  }
  .mainContent .crown {
    height: auto;
    width: 10px;
  }
  .mainContent .crowns {
    width: 100px;
  }
  .mainContent .ranking {
    width: 200px;
  }
  .mainContent #atual-champion {
    padding: 0px;
    width: 200px;
    flex-direction: row;
  }
  .mainContent #atual-champion h1 {
    font-size: 10px;
  }
  .mainContent #atual-champion img {
    height: 15px;
  }
  .mainContent .champion {
    padding-left: 15px;
  }
  .mainContent .champion img {
    width: 90px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .footer {
    height: 350px;
  }
  .footer .footerCard h3 {
    font-size: 6px;
  }
  .footer .footerCard p {
    font-size: 4px;
  }
  .footer .footerCard a {
    font-size: 4px;
  }
  .footer .footerSeparator {
    height: 300px;
    padding: 0px;
  }
  .footer .footerContent {
    justify-content: space-evenly;
    gap: 20px 0px;
    grid-template-areas: "card1 card2" "card4 card3" "card5 card5";
  }
  .footer .card1 img {
    grid-area: card1;
    width: 40px;
  }
  .footer .card5 img {
    grid-area: card5;
    width: 25px;
  }
  .footer .card6 {
    position: absolute;
    left: 1;
    bottom: 1;
  }
  .footer .card6 p {
    font-size: 4px;
  }
}
@media (max-width: 25em) {
  .header {
    height: 15px;
  }
  .headerContent {
    height: 15px;
  }
  .headerContent img {
    width: 20px;
    margin-bottom: 10px;
  }
  .headerContent h1 {
    font-size: 8px;
  }
  .main {
    display: grid;
    justify-content: center;
  }
  .mainContent {
    justify-content: center;
    padding-top: 15px;
  }
  .mainContent .king {
    height: 150px;
    padding-top: 50px;
    padding-left: 10px;
  }
  .mainContent .mainAlign {
    width: 300px;
    display: flex;
  }
  .mainContent .card {
    padding-left: 35px;
    gap: 0px;
    width: 200px;
    flex-direction: column;
    letter-spacing: 1px;
    font-size: 5px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  }
  .mainContent #divisor1 {
    padding-top: 20px;
  }
  .mainContent .crown {
    height: auto;
    width: 10px;
  }
  .mainContent .crowns {
    width: 100px;
  }
  .mainContent .ranking {
    width: 200px;
  }
  .mainContent #atual-champion {
    padding: 0px;
    width: 200px;
    flex-direction: row;
  }
  .mainContent #atual-champion h1 {
    font-size: 10px;
  }
  .mainContent #atual-champion img {
    height: 15px;
  }
  .mainContent .champion {
    padding-left: 15px;
  }
  .mainContent .champion img {
    width: 80px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .footer {
    height: 320px;
  }
  .footer .footerCard h3 {
    font-size: 5px;
  }
  .footer .footerCard p {
    font-size: 3px;
  }
  .footer .footerCard a {
    font-size: 3px;
  }
  .footer .footerSeparator {
    height: 280px;
    padding: 0px;
  }
  .footer .footerContent {
    justify-content: space-evenly;
    gap: 20px 0px;
    grid-template-areas: "card1 card2" "card4 card3" "card5 card5";
  }
  .footer .card1 img {
    grid-area: card1;
    width: 30px;
  }
  .footer .card5 img {
    grid-area: card5;
    width: 15px;
  }
  .footer .card6 {
    position: absolute;
    left: 1;
    bottom: 1;
  }
  .footer .card6 p {
    font-size: 3px;
  }
}

/*# sourceMappingURL=style.css.map */
