@import url("https://fonts.googleapis.com/css2?family=Aubrey&family=Cinzel:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// header
.header {
  div {
    background-color: #10151f;
    width: 100%; // Altere para `width`
    height: 80px;
  }
}
.headerContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    padding-top: 10px;
    width: 100px;
  }
  h1 {
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding-top: 10px;
  }
}

//main
.main {
  min-height: 100%;
  background: linear-gradient(to right, #020018e2, #030207);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

a {
  display: contents;
  color: unset;
  text-decoration: none;
}

.cardsContainer {
  min-width: 100vh;
  padding: 15em;
  padding-top: 5em;
  display: grid;
  align-items: center;
  justify-content: center;
  flex: wrap;
  grid-template-areas:
    "card1 card2"
    "card3 card4"
    "card5 card5";
  gap: 30px 5em;
  transform-origin: top;
}

.card {
  scale: 0.9;
  cursor: pointer;
}

// COALA
.card1 {
  grid-area: card1;
  background: linear-gradient(to right, #fcd689, #f69920, #a46e02);
  background-size: cover;
  background-position: center;
  border: 3px solid #653110;
  border-radius: 5px;
  padding: 30px;
  width: 500px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(1fr, 10);
  grid-template-rows: minmax(10px, auto);
  gap: 15px 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card1:hover {
  transform: scale(1.1);
  box-shadow: (0px 0px 15px 10px rgb(255, 200, 0));
  // transition: 0.3s;
}

.rowCoala {
  border: 3px solid #653110;
  background: linear-gradient(to right, #ffd19c, #fbf5b0, #ffdbaa);
}

.rowCoala1 {
  grid-column: 1/10;
  grid-row: 1;
  height: 50px;
  border-start-start-radius: 45px;
  border-end-end-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgba(26, 26, 26, 0.926);
    font-family: "Aubrey", system-ui;
    font-size: 50px;
    letter-spacing: 5px;
  }
}
.rowCoala2 {
  background: #00000000;
  border: 0px;
  grid-column: 1/8;
  grid-row: 2/5;
  border-radius: 30px;
  display: flex;

  align-items: center;
  justify-content: center;
  width: 260px;
  img {
    z-index: 2;
    max-width: 140%;
    max-height: 100%;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.932));
  }
}
.rowCoala3 {
  grid-column: 7/10;
  grid-row: 3/3;
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17.2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  z-index: 1;
  p {
    color: black;
    padding: 5px;
  }
}
.rowCoala4 {
  display: flex;
  align-items: center;
  grid-column: 1/10;
  grid-row: 5/9;
  p {
    padding: 5px;
    text-align: center;
    font-size: 20px;
  }
}

// HAKON
.card2 {
  grid-area: card2;
  background: linear-gradient(to right, #030207, #000, #030207, #000, #06040d);
  background-size: cover;
  background-position: center;
  border: 3px solid #00023a;
  border-radius: 5px;
  padding: 30px;
  width: 500px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(1fr, 10);
  grid-template-rows: minmax(10px, auto);
  gap: 15px 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card2:hover {
  transform: scale(1.1);
  box-shadow: (0px 0px 15px 5px #4400ff);
  // transition: 0.3s;
}

.rowHakon {
  border: 1px ridge #010571;
  background: linear-gradient(to top, #00061d, #030207, #00061d);
}

.rowHakon1 {
  grid-column: 1/10;
  grid-row: 1;
  height: 50px;
  border-start-start-radius: 45px;
  border-end-end-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #e6e6e6;
    font-family: "Aubrey", system-ui;
    font-size: 50px;
    letter-spacing: 5px;
  }
}
.rowHakon2 {
  z-index: 1;
  background: #00000000;
  border: 0px;
  grid-column: 1/8;
  grid-row: 1/5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  img {
    margin-right: 5em;
    margin-top: 1em;
    z-index: 2;
    max-width: 150%;
    max-height: 100%;
    // filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.932));
  }
}
.rowHakon3 {
  grid-column: 7/10;
  grid-row: 3/3;
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17.2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  z-index: 1;
  p {
    color: #e6e6e6;
    padding: 5px;
  }
}
.rowHakon4 {
  z-index: 2;
  display: flex;
  align-items: center;
  grid-column: 1/10;
  grid-row: 5/9;
  p {
    color: #e6e6e6;
    padding: 5px;
    text-align: center;
    font-size: 20px;
  }
}

// PELÉ
.card3 {
  grid-area: card3;
  background: linear-gradient(to bottom, #9a6759, #8a3636, #8b4f3b);
  background-size: cover;
  background-position: center;
  border: 3px ridge #ffae96;
  border-radius: 5px;
  padding: 30px;
  width: 500px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(1fr, 10);
  grid-template-rows: minmax(10px, auto);
  gap: 15px 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card3:hover {
  transform: scale(1.1);
  box-shadow: (0px 0px 15px 5px #ffae96);
  // transition: 0.3s;
}

.rowPele {
  border: 3px solid #ffae96;
  background: linear-gradient(to right, #ffd5a678, #ffbc9de4);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.932));
}

.rowPele1 {
  grid-column: 1/10;
  grid-row: 1;
  height: 50px;
  border-start-start-radius: 45px;
  border-end-end-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgba(0, 0, 0, 0.834);
    font-family: "Aubrey", system-ui;
    font-size: 50px;
    letter-spacing: 5px;
  }
}
.rowPele2 {
  background: #00000000;
  border: 0px;
  grid-column: 1/8;
  grid-row: 2/5;
  border-radius: 30px;
  display: flex;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.932));
  align-items: center;
  justify-content: center;
  width: 260px;
  img {
    z-index: 2;
    max-width: 170%;
    max-height: 170%;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.932));
  }
}
.rowPele3 {
  grid-column: 7/10;
  grid-row: 3/3;
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17.2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  z-index: 1;
  p {
    color: black;
    padding: 5px;
  }
}
.rowPele4 {
  display: flex;
  align-items: center;
  grid-column: 1/10;
  grid-row: 5/9;
  p {
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 20px;
  }
}

// ALPHA
.card4 {
  grid-area: card4;
  background: linear-gradient(
    to right,
    #000000,
    #000,
    #000,
    #030207,
    #000,
    #0d0a0a
  );
  background-size: cover;
  background-position: center;
  border: 2px solid #585858;
  border-radius: 5px;
  padding: 30px;
  width: 500px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(1fr, 10);
  grid-template-rows: minmax(10px, auto);
  gap: 15px 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card4:hover {
  transform: scale(1.1);
  box-shadow: (0px 0px 15px 5px #e6e6e6);
  // transition: 0.3s;
}

.rowAlpha {
  border: 1px dotted #101365;
  background: linear-gradient(to right, #122240, #00000039, #2c303d);
}

.rowAlpha1 {
  grid-column: 1/10;
  grid-row: 1;
  height: 50px;
  border-start-start-radius: 45px;
  border-end-end-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: #e6e6e6;
    font-family: "Aubrey", system-ui;
    font-size: 50px;
    letter-spacing: 5px;
  }
}
.rowAlpha2 {
  background: #00000000;
  border: 0px;
  grid-column: 1/8;
  grid-row: 2/5;
  border-radius: 30px;
  display: flex;

  align-items: center;
  justify-content: center;
  width: 260px;
  img {
    z-index: 2;
    max-width: 140%;
    max-height: 100%;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.932));
  }
}
.rowAlpha3 {
  grid-column: 7/10;
  grid-row: 3/3;
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17.2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  z-index: 1;
  p {
    color: #e6e6e6;
    padding: 5px;
  }
}
.rowAlpha4 {
  display: flex;
  align-items: center;
  grid-column: 1/10;
  grid-row: 5/9;
  p {
    color: #e6e6e6;
    padding: 5px;
    text-align: center;
    font-size: 20px;
  }
}

// THUR
.card5 {
  margin-left: 19em;
  grid-area: card5;
  background: linear-gradient(to right, #fde5b6, #f65d20, #faba3b);
  background-size: cover;
  background-position: center;
  border: 1px solid #fff200;
  border-radius: 5px;
  padding: 30px;
  width: 500px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(1fr, 10);
  grid-template-rows: minmax(10px, auto);
  gap: 15px 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.card5:hover {
  transform: scale(1.1);
  box-shadow: (0px 0px 15px 5px #a0b3ff);
  // transition: 0.3s;
}

.rowThur {
  border: 2px dotted #fff200;
  background: linear-gradient(to right, #ffffff, #fffbcbf1, #bebebe);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.932));
}

.rowThur1 {
  grid-column: 1/10;
  grid-row: 1;
  height: 50px;
  border-start-start-radius: 45px;
  border-end-end-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgba(26, 26, 26, 0.926);
    font-family: "Aubrey", system-ui;
    font-size: 50px;
    letter-spacing: 5px;
  }
}
.rowThur2 {
  background: #00000000;
  border: 0px;
  grid-column: 1/8;
  grid-row: 2/5;
  border-radius: 30px;
  display: flex;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.932));
  align-items: center;
  justify-content: center;
  width: 260px;
  img {
    z-index: 2;
    max-width: 125%;
    max-height: 100%;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.932));
  }
}
.rowThur3 {
  grid-column: 7/10;
  grid-row: 3/3;
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17.2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  z-index: 1;
  p {
    color: black;
    padding: 5px;
  }
}
.rowThur4 {
  display: flex;
  align-items: center;
  grid-column: 1/10;
  grid-row: 5/9;
  p {
    color: black;
    padding: 5px;
    text-align: center;
    font-size: 20px;
  }
}

// responsividade da página de cards

@media (max-width: 100em) {
  .cardsContainer {
    scale: 0.8;
  }
  .main {
    max-height: 260vh;
  }
}

@media (max-width: 90em) {
  .cardsContainer {
    scale: 0.7;
  }
  .main {
    max-height: 240vh;
  }
}

@media (max-width: 80em) {
  .cardsContainer {
    scale: 0.6;
  }
  .main {
    max-height: 260vh;
  }
  .header {
    div {
      height: 50px;
    }

    .headerContent {
      img {
        width: 60px;

        padding-top: 7px;
      }
      h1 {
        letter-spacing: 1px;
        font-size: 20px;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 70em) {
  .main {
    max-height: 170vh;
  }
  .cardsContainer {
    scale: 0.7;
    padding-right: 32em;
    margin-right: 3em;
  }
}

@media (max-width: 50em) {
  .main {
    max-height: 200vh;
  }
  .cardsContainer {
    scale: 0.7;
    padding-right: 30em;
    margin-right: 3em;
  }
}

@media (max-width: 40em) {
  .main {
    max-height: 240vh;
  }
  .cardsContainer {
    min-width: 0;
    max-width: 100vh;
    padding-right: 1em;
    margin-right: 8.5em;
    scale: 0.5;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
    gap: 0px 0em;
  }

  .card5 {
    margin-left: 0em;
  }
  .header {
    div {
      height: 40px;
    }

    .headerContent {
      img {
        width: 50px;

        padding-top: 5px;
      }
      h1 {
        letter-spacing: 0px;
        font-size: 20px;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 25em) {
  .main {
    max-height: 260vh;
  }
  .cardsContainer {
    min-width: 0;
    max-width: 100vh;
    padding-right: 1em;
    margin-right: 7.3em;
    scale: 0.5;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
    gap: 0px 0em;
  }

  .card5 {
    margin-left: 0em;
  }
  .header {
    div {
      height: 40px;
    }

    .headerContent {
      img {
        width: 50px;

        padding-top: 5px;
      }
      h1 {
        letter-spacing: 0px;
        font-size: 20px;
        padding-top: 5px;
      }
    }
  }
}

@media (max-width: 20em) {
  .main {
    max-height: 300vh;
  }
  .cardsContainer {
    min-width: 0;
    max-width: 100vh;
    padding-right: 0.1em;
    margin-right: 8em;
    scale: 0.4;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5";
    gap: 0px 0em;
  }

  .card5 {
    margin-left: 0em;
  }
  .header {
    div {
      height: 40px;
    }

    .headerContent {
      img {
        width: 50px;

        padding-top: 5px;
      }
      h1 {
        letter-spacing: 0px;
        font-size: 20px;
        padding-top: 5px;
      }
    }
  }
}
// depois eu decido, mas nunca desistir
// edit: consegui!
